@model List<EnglishGrammarLearningSystem.Models.PretestViewModels>
@{
    ViewBag.Title = "程度測驗";
}
<h2>程度測驗.</h2>
<div id="pretestContent">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form1" }))
    {
<table class="table" id="examTable">
    <thead>
        <tr>
            <th>#</th>
            <th>題目</th>
            <th>選項</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var q in Model)
        {
<tr>
    <td style="display:none">@q.QLID</td>
    <td>@q.QID</td>
    <td>@q.Question</td>
    <td>@q.Options</td>
    <td style="width: 8%">
        <select class="form-control">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
    </td>
    <td></td>
</tr>}
    </tbody>
</table>}
    <div align="center">
        <button type="button" class="btn btn-primary" style="width: 200px" onclick="submit()">送出</button>
    </div>
</div>

<script>

    var PreTestSubmitPath = '@Url.Action("PreTestSubmit", "Pretest")';
    function submit()
    {
        LoadingBlockUI();

        var formData = new FormData(document.getElementById("form1"));
        //var counter = 0;

        //$.each($('#pj_Table_Pu>tbody>tr'), function (i, tr) {
        //    var o_name = $(tr.cells[0]).find('input').val();
        //    var o_size = $(tr.cells[1]).find('input').val();
        //    var o_type = $(tr.cells[2]).find('input').val();
        //    var p_size = $(tr.cells[3]).find('input').val();
        //    var p_type = $(tr.cells[4]).find('input').val();
        //    if (o_name == '' && o_size == '' && o_type == '' && p_size == '' && p_type == '') {
        //        return true;
        //    }

        //    formData.append('paperConsumptions[' + counter + '].O_Name', o_name);
        //    formData.append('paperConsumptions[' + counter + '].O_Size', o_size);
        //    formData.append('paperConsumptions[' + counter + '].O_Type', o_type);
        //    formData.append('paperConsumptions[' + counter + '].P_Size', p_size);
        //    formData.append('paperConsumptions[' + counter + '].P_Type', p_type);
        //    counter++;
        //})

        //counter = 0;
        //$.each($('#pj_Table_humanList>tbody>tr'), function (i, tr) {
        //    var name = $(tr.cells[1]).find('input').val();
        //    var level = $(tr.cells[2]).find('select option:selected')[0].value;
        //    if (name == null || name.trim() == '' || level == null || level.trim() == '') {
        //        return true;
        //    }

        //    formData.append('projectLeaders[' + counter + '].Name', name);
        //    formData.append('projectLeaders[' + counter + '].Level', level);
        //    counter++;
        //})

        $.each($('#examTable>tbody>tr'), function (i, item) {
            debugger;
            var qid = item.children[0].innerText;
            var userAns = $(item).find('select')[0].value


            formData.append('data[' + i + '].QID', qid);
            formData.append('data[' + i + '].UserAns', userAns);
        });

        $.ajax({
            url: PreTestSubmitPath,
            type: "POST",
            data: formData,
            dataType: 'text',
            contentType: false,
            processData: false,
            error: function (xhr, status, error) {
                $.unblockUI();
                $('.alert-danger>#errMsg')[0].innerText = 'AJAX Error! Please try again later!';
                $('.alert-danger').show();
            },
            success: function (data) {
                $('#pretestContent').val(data);
                //data = JSON.parse(data)
                //if (data.Success == true) {
                //    //location.href = Project_AllProjectPath;
                //    location.href = Project_DetailPath.replace("TargetID", data.Message);
                //} else {
                //    $('.alert-danger>#errMsg')[0].innerText = data.Message;
                //    $('.alert-danger').show();
                //}
            }
        })


    }


</script>
